.layout {
  color: rgb(214, 214, 214);
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #ebdfd7;
}
.sidebar {
  flex: 0 0 200px; /* 固定宽度为 200px */
}
.dashboard {
  flex: 1; /* 占用剩余的宽度 */
  display: flex;
  flex-direction: column;
}
