@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.navigationBar {
  display: flex;
  height: 100px;
  width: 100vw;
  gap: 20px;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  letter-spacing: -0.38px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px 20px 60px;
}

.logo {
  width: 300px;
  height: auto;
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: auto;
}

.logoText {
  font-family: "Dancing Script", "Roboto", sans-serif;
  font-weight: bold;
  font-size: 28px;
  margin-left: 20px;
  color: #61dbfb;
}
